@import '_var';
@import '_normalised';
@import '_libs';
@import '_fonts';
@import '_global';

.header {
    padding: 40px 0;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__item+.menu__item {
        padding-left: 35px;
    }

    &__link {
        color: $title;
        text-transform: uppercase;
        padding-bottom: 1px;
        transition: all .3s;
        @extend %roboto-400;
        padding-bottom: 0 2px 1px;
        text-decoration: none;

        &:hover {
            color: $accent;
            border-bottom: 1px solid $accent;
            @extend %roboto-700;
        }
    }

    &__link--active {
        color: $accent;
        border-bottom: 1px solid $accent;
        @extend %roboto-700;
    }
}

.user-nav {
    display: flex;

    &__link {
        position: relative;
    }

    &__link+.user-nav__link {
        margin-left: 25px;
    }

    &__num {
        position: absolute;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        background-color: $accent;
        top: -9px;
        right: -14px;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        color: #fff;
    }

    &__link--user::before {
        content: url(../images/icons/user.svg);
    }

    &__link--search::before {
        content: url(../images/icons/search.svg);
    }

    &__link--heart::before {
        content: url(../images/icons/heart_icon.svg);
    }

    &__link--cart::before {
        content: url(../images/icons/cart_icon.svg);
    }
}

.top-slider {
    background-image: url(../images/slider/bg-slider.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $bg;
    padding: 65px 0 45px;

    &__item {
        display: flex !important;
        justify-content: space-between;
        position: relative;
        min-height: 630px;
    }

    &__content {
        margin-top: 120px;
    }

    &__img {
        position: absolute;
        right: -160px;
    }

    &__title {
        max-width: 670px;
        font-size: 58px;
        line-height: 68px;
        color: $title;
        @extend %roboto-700;
    }

    &__row {
        display: block;
    }

    &__text {
        margin-top: 18px;
        max-width: 470px;
        margin-bottom: 65px;
    }

    &__link {
        @extend %btn;
    }

    .slick-dots {
        display: flex;
        justify-content: center;
        margin-top: -70px;

        li {
            padding: 0 5px;
            line-height: 0;

            button {
                padding: 0;
                font-size: 0;
                background-color: transparent;
                width: 26px;
                height: 26px;
                border-radius: 50%;
                border: 1px solid transparent;
                position: relative;

                &::before {
                    content: '';
                    position: absolute;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background-color: $default;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }

            &.slick-active {
                button {
                    border-color: $accent;

                    &::before {
                        content: "";
                        background-color: $accent;
                    }
                }
            }
        }
    }
}

.garanty {
    background-image: url(../images/decorations/simbols.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;

    &__items {
        display: flex;
        justify-content: center;
        position: relative;
    }

    &__items::before {
        content: url(../images/decorations/golden-circle.png);
        position: absolute;
        top: -43px;
        left: -48px;
        z-index: 1;
    }

    &__items::after {
        content: url(../images/decorations/dots-frame.png);
        position: absolute;
        bottom: -25px;
        right: -17px;
        z-index: 1;
    }


    &__item+.garanty__item {
        margin-left: 30px;
    }

    &__item {
        max-width: 370px;
        padding: 44px 40px;
        background-color: #fff;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
        background-color: rgb(255, 255, 255);
        z-index: 5;

        &-title {
            margin: 40px 0;
            font-size: 22px;
            line-height: 26px;
            @extend %roboto-400;
            color: $title;
        }

        &-text {
            font-size: 15px;
            line-height: 26px;
            color: $default;
        }
    }

}

.categories {
    &__items {
        min-height: 635px;
        display: grid;
        grid-gap: 30px;
        grid-template-areas: "first second second""first third fourth";
        ;
    }

    &__item {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center right;
        padding-left: 40px;
        padding-top: 40px;

        &--a {
            grid-area: first;
        }
    
        &--b {
            grid-area: second;
            padding-top: 0px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
        }
    
        &--c {
            grid-area: third;
        }
    
        &--d {
            grid-area: fourth;
        }
    }

    &__subtitle {
        @extend %quicksand-500;
    }

    &__subtitle--first {
        color: #5800e4;
    }

    &__subtitle--second {
        color: $accent;
    }

    &__subtitle--third {
        color: #ffbe44;
    }

    &__subtitle--fourth {
        color: #4dc8fc;
    }

    &__item-title {
        margin: 15px 0;
        font-size: 22px;
        line-height: 26px;
        @extend %roboto-500;
        color: $title;
    }

    &__link {
        text-transform: uppercase;
        font-size: 16px;
        color: $title;
        @extend %roboto-400;
        text-decoration: none;

        &:hover {
            color: $accent;
            @extend %roboto-500;
            border-bottom: 1px solid $accent;
        }
    }
}

.video {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;

    &__container {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__item {
        margin-right: 60px;
        height: 480px;
    }

    &__container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 120px 0 120px;
    }

    &__subtitle {
        font-size: 22px;
        line-height: 26px;
        color: $accent;
        text-transform: uppercase;
        @extend %quicksand-500;
    }

    &__title {
        margin: 15px 0 30px;
        color: $title;
        font-size: 48px;
        line-height: 45px;
    }

    &__btn {
        margin-top: 60px;
        @extend %btn;
    }

    &__play {
        position: absolute;
        top: 320px;
        left: 230px;
        background-color: $accent;
        border-radius: 50%;
        padding: 30px 33px 25px;

        &:hover {
            animation: pulse 1.5s infinite;
        }
    }
}

@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0px rgba(254, 62, 87, 0.6);
    }

    100% {
        box-shadow: 0 0 0 40px rgba(254, 62, 87, 0);
    }
}

.trending {
    padding-top: 120px;

    &__item {
        position: relative;
        overflow: hidden;
    }

    &__stars {
        padding-top: 30px;
        padding-bottom: 20px;
        margin: 0 auto;
}

    &__items {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr 1fr;
    }

    &__text {
        font-size: 22px;
        line-height: 26px;
        color: $title;
        @extend %roboto-400;
        text-align: center;
        text-transform: uppercase;
    }

    &__price {
        font-size: 16px;
        line-height: 26px;
        margin-bottom: 20px;
    }

    &__price--old {
        color: #ccccce;
        text-decoration: line-through;
        display: inline-block;
        margin-left: 25px;
    }

    &__sale {
        position: absolute;
        top: 26px;
        left: 25px;
        @extend %roboto-400;
        padding: 10px 12px;
        color: #fff;
        background-color: $accent;
        text-align: center;
        text-transform: uppercase;
    }

    &__actions {
        position: absolute;
        right: 80px;
        bottom: 192px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 30px;
        background-color: #fff;
        width: 210px;
        height: 52px;
        box-shadow: 0px 5px 30px 0px rgba(152, 152, 152, 0.2);
        transform: translateY(500%);
    }

    &__action+.trending__action {
        border-left: 1px solid $default;
    }

    &__action {
        border: none;
        padding: 0 27px;
        background-color: transparent;
    }

    &__item:hover {
        .trending__actions {
            transform: translateY(0%);
        }
    }

    &__button {
        display: block;
        position: relative;
        @extend %roboto-400;
        text-transform: uppercase;
        margin: 40px auto 0;
        border: 1px solid $accent;
        padding: 10px 40px;
        background-color: transparent;
        cursor: pointer;
        color: $title;
        max-width: 170px;
    }

    &__action {
        cursor: pointer;

        svg path {
            fill: $title;
        }
    }

    &__action:hover {
        svg path {
            fill: $accent;
        }
    }
}

.special-offer {
    width: 100vw;
    height: 70vh;
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #f6f6f6;

    &__img {
        max-height: 100%;
        display: inline-block;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    &__subtitle {
        color: $accent;
        font-size: 22px;
        line-height: 26px;
        @extend %quicksand-500;
        text-transform: uppercase;
    }

    &__title {
        color: $title;
        padding: 30px 0 45px;
    }

    &__items {
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 120px;
        height: 120px;
        border-radius: 50%;
        box-shadow: 0px 10px 40px 0px rgba(187, 187, 187, 0.3);
        background-color: #fff;
        text-align: center;
    }

    &__item+.special-offer__item {
        margin-left: 30px;
    }

    &__num {
        @extend %roboto-700;
        line-height: 26px;
        font-size: 34px;
        margin-bottom: 15px;
        color: $title;
        display: block;
    }

    &__name {
        @extend %quicksand-500;
        font-size: 12px;
        color: $default;
        display: block;
    }
}

.brands {
    display: flex;
    justify-content: space-between;
}

.blog {
    &__items {
        display: flex;
        justify-content: center;
    }

    &__item+.blog__item {
        margin-left: 30px;
    }

    &__item {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        max-width: 370px;
        box-shadow: 20px 0px 60px 0px rgba(202, 202, 202, 0.35);
    }

    &__text-box {
        padding: 30px 40px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 16px;
        line-height: 26px;
        color: $title;
        @extend %roboto-400;
        height: 40%;
    }

    &__public {
        display: flex;
        justify-content: space-between;
        color: $default;

        &-item {
            display: block;
            @extend %quicksand-500;

            &--user::before {
                content: url(../images/icons/user-blog.svg);
                margin-right: 10px;
            }

            &--time::before {
                content: url(../images/icons/watch.svg);
                margin-right: 10px;
            }
        }
    }

    &__name {
        font-size: 22px;
        line-height: 32px;
        margin-top: 10px 0;
    }

    &__link {
        @extend %quicksand-500;
        bottom: 0;
        left: 0;
        color: $default;
    }

    &__link:hover {
        color: $accent;
    }
}

.footer {
    background-color: $bg;
}

.footer-top {
    padding: 70px 0 40px;
    border-bottom: 1px solid #ececec;
    display: flex;
    justify-content: space-between;

    &__address {
        color: $default;
    }

    &--contact {
        width: 250px;
        margin-right: 50px;
        font-style: normal;
    }

    &--nav {
        width: 170px;
        margin-right: 30px;
    }

    &__item--form {
        max-width: 470px;
    }

    &__logo {
        margin-bottom: 33px;
        display: block;
    }

    &__address-link {
        display: block;
        margin-bottom: 14px;
        color: $default;
    }

    &__title {
        color: $title;
        @extend %roboto-400;
        font-size: 22px;
        line-height: 1;
        margin-bottom: 40px;
    }

    &__social-list {
        display: flex;
        align-items: center;
        border-top: 30px;
    }

    &__social-item+.footer-top__social-item {
        padding-left: 18px;
    }

    &__social-link {
        transition: all .3s;

        path {
            fill: $default;
        }

        &:hover {
            path {
                fill: $accent;
            }
        }
    }

    &__title {
        color: $title;
        @extend %roboto-500;
        margin-bottom: 43px;
        font-size: 22px;
        line-height: 1;
    }

    &__link {
        padding: 15px 0;
        line-height: 36px;
        color: $default;
    }

    &__text {
        margin-bottom: 25px;
    }

    &__form {
        display: flex;
    }

    &__form-input {
        background-color: #fff;
        max-width: 320px;
        width: 100%;
        border: none;
        padding: 12px 10px 12px 15px;
        box-shadow: 0px 7px 20px 0px rgba(255, 17, 48, 0.3);

        &::placeholder {
            color: $default;
            font-size: 16px;
        }
    }

    &__form-btn {
        @extend %btn;
        cursor: pointer;
        border: none;
    }
}

.footer-bottom {
    height: 75px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;

    &__accept-img {
        display: inline-block;
        margin-left: 25px;
        vertical-align: middle;
    }
}

@import '_media';